#content{
	width: 80%;
	margin: 0 auto 	0;
}

@media screen and (min-width: 800px) {
	.menu-item{
		display: inline;
		padding: 10px;
		/*background-color: #776e6e;  */
		border-radius: 3px;	
		margin-right: 2px;
	}
}
.menu{	
		list-style-type: none;		
		background-color: #ccc;
		padding: 12px;
		border-radius: 3px;
	}
.menu-item{
	text-align: center;
	padding: 10px;
	margin-top: 3px;
	border-radius: 3px;	
	margin-right: 2px;
}	
.menu-item a{
		text-decoration: none;
		color: #4483ab;
	}

.menu-item a:hover, .menu-item:hover {
		text-decoration: none;		
		background-color: #fff;
	}
